* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: 100%;
  background: #ec715f;
  margin: 0 auto;
}

.head-container {
  height: 100%;
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.head-logo {
  height: 100%;
}

.nav-group {
  display: flex;
}

.nav-item {
  color: #fafafa;
  font-size: 16px;
  margin: 0 30px;
  line-height: 70px;
  list-style: none;
}

.nav-item > a {
  color: #fafafa;
  text-decoration: none;
}

#main-visual {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
  text-align: center;
  color: #fafafa;
}

#main-visual > h1 {
  font-size: 64px;
  padding-top: 200px;
  margin-bottom: 10px;
}

#main-visual > p {
  font-size: 20px;
}

#m-portfolio {
  background-color: #eceff1;
}

.container {
  text-align: center;
  color: black;
  padding: 90px 0;
  margin: 0 auto;
}

.container > h2 {
  font-size: 32px;
}

.container > h2::after {
  content: '';
  display: block;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

#m-portfolio > .container {
  width: 920px;
}

.container > p {
  padding: 30px 0;
  font-size: 16px;
}

.mp-image-group {
  display: flex;
  flex-wrap: wrap;
}

.mp-img-1 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.mp-img-2 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.mp-img-3 {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.mp-img-4 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.mp-img-5 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.mp-img-6 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

#m-feature > .container {
  width: 980px;
}

.mf-container > h2 {
  font-size: 32px;
  text-align: center;
}

.mf-container > p {
  margin: 30px 0;
  font-size: 16px;
  text-align: center;
}

.strength-group {
  display: flex;
}

.strength {
  text-align: center;
  width: 320px;
  height: auto;
}

.strength > i {
  display: inline-block;
  font-size: 60px;
}

.strength > h3 {
  margin: 10px 0;
}

.strength > p {
  text-align: left;
}

.strength:nth-child(2) {
  margin: 0 10px;
}

#m-profile{
  background-color: #eceff1;
}

#m-profile > .container{
  width: 1024px;
}

.mp-content{
  display: flex;
}

.mp-left{
  width: 512px;
}

.mp-image{
  background-image: url(img/my-icon.jpg);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.mp-right{
  width: 512px;
  text-align: left;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.mp-right > p {
  font-size: 16px;
  color: black;
}

.mp-name, .mc-mail {
  margin-bottom: 20px;
}

#m-contact > .container{
  width: 800px;
}

.mc-group{
  display: flex;
  margin: 0 auto;
}

.right, .left {
  width: 50%;
}

.mc-info{
  width: 130px;
  margin: 0 auto;
}

.mc-sns{
  width: 210px;
  margin: 0 auto;
}

.mc-mail > h3, .mc-tel > h3, .mc-sns > h3 {
  text-align: left;
}

.mc-mail > p, .mc-tel > p {
  text-decoration: underline;
  text-align: left;
}

.mc-sns > i {
  font-size: 50px;
}

.mc-sns > i:nth-child(2) {
  margin: 0 20px;
}

footer {
  height: 60px;
  background-color: #ec715f;
}

footer > p {
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  color: #fafafa;
}

@media (max-width:768px){
  header {
    height: 50px;
  }

  .head-container{
    width: 90%;
  }

  .hamburger {
    width: 40px;
    height: 40px;
    margin: 5px 5% 5px auto;
    border: 1px solid #fafafa;
  }

  .hamburger > span {
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
    display: block;
  }

  .hamburger > span:first-child {
    margin-top: 10px;
  }

  .hamburger > span:last-child {
    top: 0;
  }

  nav {
    display: none;
  }
  #main-visual {
    background-image: url(img/code.png);
  }

  #main-visual > h1 {
    font-size: 40px;
  }

  #main-visual > p {
    font-size: 18px;
  }

  #m-portfolio > .container{
    width: 90%;
  }

  .mp-image-group {
    display: block;
  }

  .mp-img-2, .mp-img-6 {
    margin: 0 auto;
  }

  .mp-img-4 {
    margin: 10px auto;
  }

  .mp-img-1, .mp-img-3, .mp-img-5{
    display: none;
  }

  #m-feature > .container {
    width: 90%;
  }

  .strength-group{
    display: block;
  }

  .strength {
    margin: 0 auto;
  }

  .strength:nth-child(2) {
    margin: 10px auto;
  }

  #m-profile > .container {
    width: 90%;
  }

  .mp-content{
    display: block;
  }

  .mp-left, .mp-right {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .mp-left {
    margin-bottom: 20px;
  }
  
  #m-contact > .container {
    width: 90%;
  }

  .mc-group{
    display: block;
    text-align: center;
  }

  .right, .left {
    margin: 0 auto;
    width: 90%;
  }

  .mc-mail > h3, .mc-mail > p, .mc-tel > h3, .mc-tel > p, .mc-sns > h3 {
    text-align: center;
  }

  .mc-sns > h3 {
    margin-top: 20px;
  }

  .mc-sns > i:nth-child(2) {
    margin: 0 8px;
  }
}